@model CodeDesignDtos.Pagination.Pager
<ul class="pagination">
    @if (Model != null && Model.TotalPages > 1)
    {
        int start = Math.Max(Model.Page - 2, 1);
        int end = Math.Min(4 + start, Model.TotalPages);

        <li class="paginate_button page-item previous @((Model.Page>1 && Model.TotalPages>0)?"":"disabled")">
            <a data-idx="@(Model.Page - 1)" tabindex="0" class="page-link">Previous</a>
        </li>

        @for (int i = start; i <= end; i++)
        {
            <li class="paginate_button page-item @(Model.Page==i?"active":"")">
                <a data-idx="@i" tabindex="0" class="page-link">@i</a>
            </li>
        }

        <li class="paginate_button page-item next @((Model.Page<Model.TotalPages && Model.TotalPages>0)?"":"disabled")">
            <a data-idx="@(Model.Page + 1)" tabindex="@Model.TotalPages" class="page-link">Next</a>
        </li>
    }
</ul>
